/* The dark theme is the default theme */
:root
{
	--bg-color: #062421;
	--text-color: white;
	--link-color: white;
	--header-color: #1db8a8;
}

@media (prefers-color-scheme: light)
{
	:root
	{
		--bg-color: #fdfdfd;
		--text-color: black;
		--link-color: black;
		--header-color: #0a3e39;
	}
}

body
{
	background-color: var(--bg-color);
	color: var(--text-color);
	height: 100%;
	font-family: Verdana, 'Open Sans', sans-serif;
}

h1,h2,h3,h4 {
	color: var(--header-color);
}

th
{
	text-align: left;
}

img
{
	max-width: 250px;
}

ol li
{
	padding-bottom: 1.5rem;
	padding-left: 1rem;
	line-height: 1.25rem;
}

a:link, a:visited, a:hover, a:active
{
	color: var(--link-color);
}
