<h1>{{ content.Name }}</h1>
{{#if content.Description }}<p>{{ content.Description }}</p>{{/if}}
{{#if content.Image }}<img src="{{ content.Image }}" title="{{ content.Name }}" alt="{{ content.Name }}">{{/if}}
{{#if content.Yield }}<p>Voor {{ content.Yield }}</p>{{/if}}
{{#if content.PrepTimeText }}<p>Voorbereidingstijd: {{ content.PrepTimeText }}</p>{{/if}}
{{#if content.CookTimeText }}<p>Bereidingstijd: {{ content.CookTimeText }}</p>{{/if}}
{{#if content.TotalTimeText }}<p>Totale bereidingstijd: {{ content.TotalTimeText }}</p>{{/if}}
{{#if content.PublishedURL }}<p class="small">Gepubliceerd door <a href="{{ content.PublishedURL }}">{{ content.Publisher }}</a></p>{{/if}}
<div class="row">

	<div class="col-md-3 d-md-none">
		<h2>Ingrediënten</h2>
		<ul>
			{{#each content.Ingredients}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>

	<div class="col-md-9">
		<h2>Bereidingswijze</h2>
		<ol>
			{{#each content.Instructions}}
			<li>{{this}}</li>
			{{/each}}
		</ol>
	</div>

	<div class="col-md-3 d-none d-md-block">
		<h2>Ingrediënten</h2>
		<ul>
			{{#each content.Ingredients}}
			<li>{{this}}</li>
			{{/each}}
		</ul>
	</div>

</div>
